PORT=
NODE_ENV=

JWT_SECRET=

DATABASE_URL=

RECAPTCHA_SECRET_KEY=

#Email
RESEND_API_KEY=
RESEND_FROM=

#redis
REDIS_URL=

# storage
STORAGE_DRIVER=local
STORAGE_SYNC_LOCAL_UPLOADS=false
MINIO_ENDPOINT=localhost
MINIO_PORT=9000
MINIO_USE_SSL=false
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minioadmin
MINIO_BUCKET=max-video-media
